/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}

#tous:hover, #objets:hover, #apparts:hover, #hotels:hover {
	cursor: pointer;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

#login {
	width: 50%;
	margin: auto;
}

#login > * {
	text-align: center;
}

#login h2{
	margin-bottom: 20px;
}

#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

#login label {
	margin: 2em 0 1em 0;
}

#login a{
	color:#3D3D3D;
}

#login p{
	margin-bottom: 379px;
}

.login {
	font-weight: 600;
}

#connexion:hover {
	cursor: pointer;
}

#edition {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
	height: 60px;
	margin: 0 0 38px 0;
}

#header-edit {
	display: flex;
	flex-direction: column;
}

#nav-edit {
	display: flex;
	justify-content: space-between;
}

#mode {
	color: #FFFFFF;
	margin-right: 20px;
}

#edition i {
	margin-right: 12px;
}

a {
	text-decoration: none;
	color: #000000;
}

#introduction > figure > figcaption {
	margin-top: 11px;
	margin-left: 41.25px;
}

#introduction > figure > figcaption > i {
	margin-right: 11px;
}

#projets {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
}

#projets i, article > a > i {
	display: flex;
	float: left;
}

header i, main i {
	margin-right: 11px;
}

#projets > a > p {
	margin-left: 31px;
}

#projets h2 {
	margin-bottom: 0;
}

#modifs {
	background-color: #FFFFFF;
	border-radius: 60px;
	padding: 11px 23px;
	font-weight: 500;
}

.modale, .modale2 {
	position: fixed;
	display: flex;	
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.3);
}

#fenetre-modale, #fenetre-modale2 {
	background-color: #FFFFFF;
	width: 70%;
	position: relative;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.js-fermer-modale {
	position: absolute;
	top: 32px;
	right: 36px;
	margin: 0;
	background-color: #FFFFFF;
	border: none;
}

.fa-xmark {
	margin: 0;
	color: #000000;
}

#fenetre-modale i:hover {
	cursor: pointer;
}

#modale-titre {
	text-align: center;
	margin-top: 60px;
	font-size: 26px;
}

#galerie-modale {
	width: 70%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-column-gap: 8px;
	grid-row-gap: 11px;
	margin-top: 50px;
	margin-bottom: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #B3B3B3;
}

#galerie-modale img {
	max-width: 100%;
	position: relative;
}

#ajouter-photo {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	width: 180px;
	text-align: center;
	border-radius: 60px;
	font-size: 1.2em;
	padding: 20px 50px;
}

#fenetre-modale a {
	align-items: center;
}

#suppression-galerie {
	margin: 20px 0;
	font-family: 'Syne';
	font-size: 14px;
	font-weight: 400;
	color: #d65353;
	width: 180px;
	text-align: center;
	border: none;
	background-color: #FFFFFF;
}

#suppression-galerie:hover {
	text-decoration: underline;
	cursor: pointer;
}

 #galerie-modale figure{
	position: relative;
}

.poubelles, #move {
	position: absolute;
	top: 6px;
	background-color: #000000;
	width: 14px;
	height: 14px;
}

.poubelles {
	right: 6px;
}

#move {
	right: 24px;
}

#move i {
	color: #FFFFFF;
	margin-left: 2px;
}

#move i:hover {
	color: #FFFFFF;
}

.poubelles i {
	color: #FFFFFF;
	margin-left: 3px;
}

.poubelles:hover {
	cursor: pointer;
}

#ajout-image {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #E8F1F7;
	border-radius: 3px;
	height: 170px;
	width: 100%;
}

#retourfermer {
	display: flex;
	justify-content: space-between;
	width: 90%;
	padding: 32px 36px 0 36px;
}

.js-fermer-modale2 {
	background-color: #FFFFFF;
	border: none;
}

.js-retour {
	background-color: #FFFFFF;
	border: none;
}

.js-fermer-modale2:hover, .js-retour:hover {
	cursor: pointer;
}

#modale-titre2 {
	text-align: center;
	margin: 20px;
	font-size: 26px;
}

#ajout-photo {
	width: 70%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.fa-image {
	color: #B9C5CC;
	line-height: normal;
	margin-top: 28px;
	font-size: 50px;
}

#bouton-ajout {
	font-family: 'Work Sans';
	font-weight: 500;
	color: #306685;
	background-color: #CBD6DC;
	text-align: center;
	border-radius: 50px;
	font-size: 14px;
	padding: 10px 30px;
	margin-top: 20px;
}

#bouton-ajout:hover {
	cursor: pointer;
}

#myfile {
	opacity: 0;
	margin: 0;
	font-size: 0px;
}

#ajout-image p {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 10px;
	line-height: 12px;
	text-align: center;
	color: #444444;
	margin-bottom: 10px;
	}

.form-sous-photo {
	margin: 20px 0 20px 0;
	border-bottom: 1px solid #B3B3B3;
	padding-bottom: 50px;
	width: 100%;
}

.form-sous-photo input, .form-sous-photo select {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	padding: 0;
	width: 100%;
}

.form-sous-photo input {
	margin: 10px 0 10px 0;
}

.form-sous-photo select {
	margin-top: 10px;
}

.form-sous-photo label {
	margin: 20px 0 10px 0;
}

#alertes-erreurs {
	width: 100%;
	margin: 10px 0 30px 0;
	font-family: 'Syne';
	font-size: 14px;
	color: red;
}


#valider {
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #A7A7A7;
	text-align: center;
	border-radius: 60px;
	font-size: 14px;
	padding: 10px 50px;
	border: none;
	margin-top: 30px;
	margin-bottom: 55px;
}

#valider:hover {
	cursor: pointer;
}

